/* Definindo variáveis para os temas claro e escuro */
:root {
   --cor-fundo-claro: #f1f1f1;
   --cor-fundo-escuro: #121212;
   --cor-texto-claro: #333;
   --cor-texto-escuro: #f1f1f1;
   --cor-header: #dbad14;
   --cor-header-background-escuro: #121212;
   --cor-header-background-claro: #ffffff;
   --cor-botoes: #1976d2;
   --cor-botoes-hover: #135ba1;
   --cor-botoes-texto: white;
}

/* Estilos padrão para o tema escuro */
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
   background-color: var(--cor-fundo-escuro);
   color: var(--cor-texto-escuro);
   display: flex;
   justify-content: center;
   padding: 20px;
}

main {
   background-color: #fff;
   width: 100%;
   max-width: 930px;
   display: flex;
   flex-direction: column;
   gap: 20px;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 0 15px rgba(0,0,0,0.3);
   color: var(--cor-texto-claro);
}

header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 5px;
   font-size: 14px;
   color: var(--cor-header);
   background-color: var(--cor-header-background-escuro);
   border-radius: 10px 10px 0px 0px;
   padding: 10px;
}

#toggle-theme {
   background-color: transparent;
   color: var(--cor-texto-escuro);
   border: none;
   cursor: pointer;
   font-size: 18px;
   padding: 10px;
   transition: color 0.3s;
}

#toggle-theme:hover {
   color: #1976d2;
}

header, footer {
   text-align: center;
}

section {
   background-color: #f1f1f1;
   padding: 20px;
   margin: 0px 0px 5px 0px;   
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

form {
   display: flex;
   flex-wrap: wrap;
   gap: 15px;
   align-items: center;
}

form label {
   width: 100%;
   font-weight: bold;
}

form input, form select, form button {
   flex: 1 1 200px;
   padding: 10px;
   border-radius: 8px;
   border: 1px solid #ccc;
}

form button {
   background-color: var(--cor-botoes);
   color: var(--cor-botoes-texto);
   cursor: pointer;
   transition: background 0.3s ease;
   font-weight: bold;
}

form button:hover {
   background-color: var(--cor-botoes-hover);
}

.tabela-container {
   width: 100%;
   overflow-x: auto;
}

.tabela-container table {
   min-width: 600px;
}

.table-ordenar {
   display: flex;
   justify-content: center;
   font-size: 16px;
   margin: 20px 0;
   gap: 10px;
}

.table-ordenar label {
   font-weight: bold;
   padding: 6px 7px;
   color: #333;
}

#ordenar-por {
   padding: 6px 10px;
   border: 1px solid #ccc;
   border-radius: 6px;
   font-size: 16px;
   background-color: #fff;
   color: #333;
   transition: border 0.3s ease;
}

#ordenar-por:focus {
   outline: none;
   border-color: #007BFF;
}

table {
   width: 100%;
   border-collapse: collapse;
   margin-top: 15px;
   border-radius: 10px;
}

th {
   background-color: var(--cor-botoes);
   color: var(--cor-botoes-texto);
}

th, td {
   border: 1px solid #ccc;
   padding: 8px;
   text-align: center;
}

#gerar-relatorio, #exportar-csv {
   background-color: var(--cor-botoes);
   color: var(--cor-botoes-texto);               
   border: none;               
   padding: 10px;              
   border-radius: 8px;        
   cursor: pointer;           
   font-weight: bold;          
   transition: background 0.3s ease;  
}

#gerar-relatorio:hover, #exportar-csv:hover {
   background-color: var(--cor-botoes-hover); 
}

#grafico-container {
   margin-top: 20px;
   display: block;
   text-align: center;
}

.valor-saida {
   color: red;
   font-weight: bold;
}

.valor-entrada {
   color: green;
   font-weight: bold;
}

#resumo-financeiro p {
   margin: 5px 0;
   font-weight: bold;
}

#saldo.positivo {
   color: green;
}

#saldo.negativo {
   color: red;
}

button i {
   margin-right: 5px;
}

#submit-btn.edicao {
   background-color: #28a745;
   color: #fff;
   border: none;
   transition: background-color 0.3s;
}

#submit-btn.edicao:hover {
   background-color: #218838;
}

#total-receitas {
   color: green;
   font-weight: bold;
}

#total-gastos {
   color: red;
   font-weight: bold;
}

.acao-btn {
   background-color: var(--cor-botoes);
   color: var(--cor-botoes-texto);
   border: none;
   padding: 6px 12px;
   border-radius: 8px;
   cursor: pointer;
   font-size: 14px;
   font-weight: bold;
   transition: background-color 0.3s;
}

.acao-btn:hover {
   background-color: var(--cor-botoes-hover);
}

h2 {
   font-size: 26px;
   margin-bottom: 10px;
   color: var(--cor-botoes);
}

.botoes-resumo {
   display: flex;
   justify-content: center;
   margin: 10px;
   gap: 10px;
}

footer {
   margin-top: 20px 0px 5px 0px;
   font-size: 14px;
   color: var(--cor-header);
   background-color: var(--cor-header-background-escuro);
   border-radius: 0px 0px 10px 10px;
   padding: 10px;
}

footer a {
   color: #fff;
   text-decoration: none;
   font-weight: bold;
   transition: color 0.3s;
}

footer a:hover {
   text-decoration: underline;
}

footer p {
   margin: 5px 0;
   font-weight: bold;
}

/* Estilo para o tema claro */
body.light-mode {
   background-color: var(--cor-fundo-claro);
   color: var(--cor-texto-claro);
}

main.light-mode {
   background-color: #ffffff;
   color: var(--cor-texto-escuro);
}

header.light-mode {
   background-color: var(--cor-header-background-claro);
   color: var(--cor-header);
}

footer.light-mode {
   background-color: var(--cor-header-background-claro);
   color: var(--cor-header);
}

button.light-mode {
   background-color: var(--cor-botoes);
   color: var(--cor-botoes-texto);
}

button.light-mode:hover {
   background-color: var(--cor-botoes-hover);
}

#toggle-theme.light-mode {
   color: var(--cor-header);
}

/* Responsividade já existente */
@media (max-width: 600px) {
   form input, form select, form button {
     width: 100%;
     padding: 8px 10px;
     font-size: 16px;
     flex: none;
   }

   table, th, td {
     font-size: 14px;
   }

   #grafico-container canvas {
     width: 100%;
     height: auto;
   }

   .table-ordenar {
      flex-direction: column;
      align-items: center;
   }

   .table-ordenar label,
    #ordenar-por {
      width: 100%;
      text-align: center;
   }

   .tabela-container table {
      min-width: 500px; /* Tamanho mínimo para a tabela */
   }

   #ordenar-por {
      margin-top: 5px;
   }

   .acao-btn {
      font-size: 12px;
      padding: 4px 8px;
   }
}
